<!-- BEGIN SIDEBAR -->
<div class="sidebar">
  <div class="logopanel">
    <h1>
      <a href="dashboard.html"></a>
    </h1>
  </div>
  <div class="sidebar-inner">
    <div class="sidebar-top">
      <form action="search-result.html" method="post" class="searchform" id="search-results">
        <input type="text" class="form-control" name="keyword" placeholder="Search...">
      </form>
    </div>
    <ul class="nav nav-sidebar">
      <li><a href="#/"><i class="icon-home"></i>
          <span data-translate="dashboard">Dashboard</span></a></li>
      <li><a href="#/about"><i class="icon-user"></i>
          <span data-translate="about us">About us</span></a></li>
      <li><a href="#/contact"><i class="icon-link"></i>
          <span data-translate="contact us">Contact us</span></a></li>
      <li><a href="#/terms"><i class="icon-lock"></i>
          <span data-translate="Terms of use">Terms of use</span></a></li>
    </ul>
  </div>
</div>
