<!-- BEGIN TOPBAR -->
<div class="topbar">
  <div class="header-left">
    <div class="topnav">
      <a class="menutoggle" href="#" data-toggle="sidebar-collapsed"><span class="menu__handle"><span>Menu</span></span></a>
      <ul class="nav nav-icons">
        <li><a href="" ng-click="getTweets()"><span class="octicon octicon-flame"></span></a></li>
        <li><a href="" ng-click=""><span class="octicon octicon-rocket"></span></a></li>
      </ul>
    </div>
  </div>
  <!-- header-right -->
</div>
<!-- END TOPBAR -->
<!-- BEGIN PAGE CONTENT -->
