<div class="page-content">
  <div class="header">
    <h2><strong>Terms </strong> of Service</h2>
    <div class="breadcrumb-wrapper">
      <ol class="breadcrumb">
        <li class="active">Term</a>
        </li>
        <li class="active">Eligibility </a>
        </li>
        <li class="active">Copyright</li>
        <li class="active">Disclaimers</li>
      </ol>
    </div>



  </div>
  <div class="row">

    <div class="col-lg-12">

      <p  style="text-align: justify;text-justify: inter-word;">
      <strong>July 8, 2015 </strong></p > </br>
      Datashield.com is a platform that allows internet users to visualise all public information published by terrorism apologists and terrorists on Twitter and Facebook and other social media channels. The services offered by Datashield.com include features, content, or applications in connection with Datashield.com website. The Datashield.com services are hosted in Germany.
      These Terms of Use set forth the legally binding terms for your use of Datashield.com. By using the Datashield.com services, you agree to be bound as a "visitor" (which means that you simply browse the Datashield.com website).
      Read this document carefully and save it. If you do not agree with it, you should leave the Datashield.com website immediately.
      This Agreement includes Datashield.com policy for acceptable use of the Datashield.com content posted on the Datashield.com website, your rights, obligations and restrictions regarding your use of Datashield.com.
      Datashield.com may modify the present terms of service from time to time and such modification shall be effective upon posting on the Datashield.com website. You agree to be bound to any changes to the present document when you use the Datashield.com platform after any such modification is posted. It is therefore important that you review the current terms of use regularly to ensure you are updated as to any changes.
      Copyright
      The copyright for texts, videos, charts, photos and graphics, the layout of the website as well as other contents of this homepage is with the Datashield.com. All rights reserved. The download and the printing of texts, pictures and graphic elements are only permitted for personal private use and not for commercial purposes.
      Note on Liability
      Despite careful control of contents we do not accept liability for the contents of external links. Exclusive responsibility for the contents of linked sites lies with the respective operator.

      </p>

      <h2> Term </h2>
      <p style="text-align: justify;text-justify: inter-word;">  This document shall remain in full force and effect while you use Datashield.com. </p>

      <h2> Eligibility </h2>
      <p style="text-align: justify;text-justify: inter-word;"> Your use of Datashield.com should not violate any applicable law or regulation. </p>

      <h2>  Non-commercial Use by Members  </h2>
      <p style="text-align: justify;text-justify: inter-word;">  The Datashield.com platform is for a personal or collective use and may not be used in connection with any commercial endeavours except those that are specifically endorsed or approved by Datashield.com. </p>



      <h2>Disclaimers </h2>
      <p style="text-align: justify;text-justify: inter-word;"> Datashield.com is not responsible for the conduct, whether online or offline, of any User of the Datashield.com. Datashield.com is provided "AS-IS" and as available. Datashield.com expressly disclaims any warranty of fitness for a particular purpose or non-infringement. Datashield.com cannot guarantee and does not promise any specific results from use of the Datashield.com.
      Datashield.com intends to visualize public data published on twitter online with full respect of privacy rules in accordance with law. Graphics, analyses, reports that will be published in the platform Datashield.com will be by no means for the intention of creating panic or irrational fear but rather an attempt to understand the logic behind the phenomenon of online apology of terror and terrorism propaganda. In this context, if our platform publishes graphics or reports highlighting peaks of terrorist activities, it does not mean that we predict a terrorist attack. Our role is simply data analysis and data sharing based on the examination of open resources and public postings and we are not claiming or intending to dwell into security matters which are totally out of our reach.
      Other. </br>
      These terms of service are accepted upon your use of the Datashield.com.</br>
      They constitute the entire agreement between you and Datashield.com regarding the use of the Datashield.com platform. The section titles in this document are for convenience only and have no legal or contractual effect.   These terms of service operate to the fullest extent permissible by law. If any provision of this document is unlawful, void or unenforceable, that provision is deemed severable from these terms of service and does not affect the validity and enforceability of any remaining provisions.
      </p>
    </div>

  </div>
</div>

<!--<div class="loader-overlay">-->
<!--<div class="spinner">-->
<!--<div class="bounce1"></div>-->
<!--<div class="bounce2"></div>-->
<!--<div class="bounce3"></div>-->
<!--</div>-->
<!--</div>[> END PRELOADER <]-->
<a href="#" class="scrollup"><i class="fa fa-angle-up"></i></a>
<script src="assets/plugins/jquery/jquery-1.11.1.min.js"></script>
<script src="assets/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
<script src="assets/plugins/jquery-ui/jquery-ui-1.11.2.min.js"></script>
<script src="assets/plugins/gsap/main-gsap.min.js"></script>
<script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="assets/plugins/jquery-cookies/jquery.cookies.min.js"></script> <!-- Jquery Cookies, for theme -->
<script src="assets/plugins/jquery-block-ui/jquery.blockUI.min.js"></script> <!-- simulate synchronous behavior when using AJAX -->
<script src="assets/plugins/translate/jqueryTranslator.min.js"></script> <!-- Translate Plugin with JSON data -->
<script src="assets/plugins/bootbox/bootbox.min.js"></script> <!-- Modal with Validation -->
<script src="assets/plugins/mcustom-scrollbar/jquery.mCustomScrollbar.concat.min.js"></script> <!-- Custom Scrollbar sidebar -->
<script src="assets/plugins/bootstrap-dropdown/bootstrap-hover-dropdown.min.js"></script> <!-- Show Dropdown on Mouseover -->
<script src="assets/plugins/charts-sparkline/sparkline.min.js"></script> <!-- Charts Sparkline -->
<script src="assets/plugins/retina/retina.min.js"></script> <!-- Retina Display -->
<script src="assets/plugins/select2/select2.min.js"></script> <!-- Select Inputs -->
<script src="assets/plugins/icheck/icheck.min.js"></script> <!-- Checkbox & Radio Inputs -->
<script src="assets/plugins/backstretch/backstretch.min.js"></script> <!-- Background Image -->
<script src="assets/plugins/bootstrap-progressbar/bootstrap-progressbar.min.js"></script> <!-- Animated Progress Bar -->
<script src="assets/plugins/charts-chartjs/Chart.min.js"></script>
<script src="assets/js/builder.js"></script> <!-- Theme Builder -->
<script src="assets/js/sidebar_hover.js"></script> <!-- Sidebar on Hover -->
<script src="assets/js/application.js"></script> <!-- Main Application Script -->
<script src="assets/js/plugins.js"></script> <!-- Main Plugin Initialization Script -->
<script src="assets/js/widgets/notes.js"></script> <!-- Notes Widget -->
<script src="assets/js/quickview.js"></script> <!-- Chat Script -->
<script src="assets/js/pages/search.js"></script> <!-- Search Script -->
<!-- BEGIN PAGE SCRIPTS -->
<script src="//maps.google.com/maps/api/js?sensor=true"></script> <!-- Google Maps -->
<script src="assets/plugins/google-maps/gmaps.min.js"></script> <!-- Google Maps Easy -->
<script src="assets/js/pages/contact.js"></script>
<!-- END PAGE SCRIPTS -->
</body>
</html>

